@import '../../styles/variables.scss';

.groupCardsSection {
  display: flex;
  min-width: 100%;
  margin-bottom: 16px;
  overflow-x: auto;
  padding: 12px 0;
}

.groupCard {
  margin-right: 12px;
  padding: 8px 12px;
  flex-shrink: 0;
  cursor: pointer;
  border: 2px solid transparent;


  &:hover {
    border: 2px solid $primary-color;
  }
}