.overlay {
  position: fixed;
  background: rgb(255 255 255 / 50%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  backdrop-filter: blur(24px);
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (prefers-color-scheme: dark) {
  .overlay {
    background-color: #000000bf;
  }
}