@import './variables.scss';

.root {
  margin-bottom: 60px;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: rgba(16, 18, 27, 0.75);
  border-radius: 0;
  margin: 0;
  z-index: 1;
}

.container {
  padding: 16px;
}

.accountCard {
  padding: 12px 24px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  background: rgb(146 151 179 / 13%);
  box-shadow: none;
  color: #f5f7f9;
  cursor: pointer;
}

.accountName {
  font-weight: bold;
  display: flex;
}

@media screen and (min-width: 768px) {
  .headerSection {
    top: 16px;
    border-radius: 16px;
    margin: 16px 16px 0 16px;
  }
}