@import "./variables.scss";

* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Public Sans',
    sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Public Sans', Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  //background-color: #f5f7f9;
}

body {
  background: url('../../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  min-height: -webkit-fill-available;
}

.app {
  background-color: rgb(255 255 255 / 31%);
  backdrop-filter: blur(20px);
  height: 100vh;
  height: 100dvh;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  user-select: auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.sticky {
  position: sticky;
  top: 0;
}

.MuiList-root {
  max-height: 320px;
}

.MuiDialog-container {
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .app {
    margin: 16px;
    border-radius: 24px;
    height: calc(100vh - 32px);
    height: calc(100dvh - 32px);
  }

  .MuiDialog-container {
    height: 80%;
    width: 80%;
    margin-left: 10%;
  }
}

@media (prefers-color-scheme: dark) {

  // html,
  // body {
  //   background-color: #161c24;
  //   color: #f5f7f9;
  // }

  .app {
    background-color: rgba(16 18 27 / 40%);
  }

  * {
    box-shadow: none;
  }

  a,
  input,
  p,
  label,
  div,
  svg {
    color: #f5f7f9 !important;
  }

  div,
  button {
    box-shadow: none !important;
  }

  fieldset {
    border-color: #f5f7f9 !important;
  }

  .MuiInputBase-root {
    &:before {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    &:hover:not(.Mui-disabled, .Mui-error):before {
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    }
  }

  .MuiMenuItem-root {
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }

    &.Mui-selected {
      background-color: $primary-color;
    }
  }

  .MuiPaper-root {
    background-color: #2b2d42;
  }

  .MuiMenu-paper {
    background-color: #0f0123;
  }

  .MuiAppBar-root {
    background-color: #000000;
  }

  .MuiDialog-paper {
    background: rgba(17, 17, 17, 95%);

    .MuiInputBase-input:disabled {
      color: rgb(255 255 255 / 60%) !important;
      -webkit-text-fill-color: rgb(255 255 255 / 60%);
    }
  }
}