@import './variables.scss';

.container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main {
  flex: 1;
  padding: 16px;
}

.cards {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  width: 100%;
}

.cards p {
  margin-top: 12px;
  color: #212b36;
  //font-weight: bold;
}

.myExpenses,
.homeExpenses {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 32px 16px;
  box-shadow: $box-shadow;
  border-radius: 12px;
}

/* .myExpenses {
  background-color: rgb(209, 233, 252);
}

.homeExpenses {
  background-color: rgb(235, 214, 253);
} */