@import './variables.scss';

.root {
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 320px;
}

.loginCard {
  max-width: 320px;
  padding: 24px;
  z-index: 2;
  position: relative;
}

.title {
  text-align: center;
}

.inputField {
  margin-top: 16px;
}

.submitBtn {
  width: 100%;
  margin-top: 12px;
}

.errorMessage {
  text-align: center;
  margin-top: 16px;
}

@media (prefers-color-scheme: dark) {
  .loginCard {
    color: #f5f7f9;
  }

  .inputField {
    input:disabled {
      -webkit-text-fill-color: #9d9d9d;
    }
  }
}