.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layoutContent {
  flex: 1;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .layoutContent {
    margin-left: 240px;
  }
}