@import './variables.scss';

.root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileCard {
  min-width: 320px;
  padding: 24px;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.homeBtn {
  margin-top: 24px;
}