@import '../../styles/variables.scss';

.root {
  padding-bottom: 48px;
}

.transactions {
  margin: 24px 0;
}

.transaction {
  padding: 12px 24px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: $box-shadow;
  background: rgb(255 255 255 / 31%);
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.accountLabel {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  background: #7535dc;
  width: fit-content;
  padding: 2px 6px;
  margin-top: 2px;
  border-radius: 4px;
  color: #f7f7f7;
}

.accountIcon {
  margin-right: 4px;
}

.date {
  font-size: 12px;
  margin-top: 4px;
}

.formFields {
  min-width: 260px;
  width: 100%;
}

.field {
  margin-top: 20px;
}

.fabBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 16px;
}

.groupName {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  margin-top: 8px;
  background: #e77a85;
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
}

@media screen and (max-width: 375px) {
  .formFields {
    min-width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .formFields {
    min-width: auto;
  }
}

@media screen and (min-width: 768px) {
  .fabBtn {
    right: 16px;
    bottom: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .transaction {
    //background-color: #2b2d42;
    background: rgb(146 151 179 / 13%);
    box-shadow: none;
    color: #f5f7f9;
  }

  .form {
    input {
      color-scheme: dark;
    }
  }
}