@import '../../styles/variables.scss';

.root {
  padding-bottom: 24px;
}

.transactions {
  margin: 24px 0;
}

.transaction {
  padding: 16px 24px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: $box-shadow;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.accountIcon {
  margin-right: 4px;
}

.date {
  font-size: 12px;
}

.formFields {
  min-width: 260px;
  width: 100%;
}

.field {
  margin-top: 20px;
}

.switchField {
  display: flex;
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
}

.fabBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

@media screen and (max-width: 375px) {
  .formFields {
    min-width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .formFields {
    min-width: auto;
  }
}