.root {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.background {
  height: 30vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  z-index: 1;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
  }

  &::after {
    background-color: #fafeff14;
    transform: rotate(22deg) translate(0, -125px) scale(1.5);
  }

  &::before {
    background-color: #7635dc;
    transform: rotate(12deg) translate(0, -80px) scale(1.5);
  }
}