@import '../../styles/variables.scss';

.header {
  //background-color: #161c24;
  background: rgba(16 18 27 / 75%);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  padding: 4px 12px;
  padding-bottom: calc(8px + env(safe-area-inset-bottom));
  color: #f5f7f9;
  box-shadow: none;
  border-top: 1px solid #919eab33;
  border-right: none;
}

.logoContainer {
  margin-top: 12;
  display: none;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  display: none;
}

.menuMobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  a {
    width: auto;
  }
}

.menuButton {
  color: #f5f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  line-height: unset;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .header {
    background: none;
    backdrop-filter: none;
    width: 240px;
    height: 100%;
    padding: 24px;
    border-top: none;
    border-right: 1px dashed rgb(145 158 171 / 60%);
  }

  .logoContainer {
    display: block;
  }

  .menu {
    margin-top: 24px;
    flex-direction: column;
    display: block;
  }

  .menuMobile {
    display: none;
  }

  .menuButton {
    margin-top: 12px;
    padding: 8px 24px;
    justify-content: flex-start;
  }
}