@import '../../styles/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 24px;
  box-shadow: 0 0 16px #ccc;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  height: 64px;
}

.logo {
  object-fit: contain;
  width: 90%;
  height: auto;
  margin-top: 12;
  display: none;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuButton {
  color: #f5f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  line-height: unset;
  box-shadow: none;
}

.menuLabelMobile {
  display: block;
  padding-left: 8px;
}

.menuLabelDesktop {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .header {
    background: #161c24;
    color: #f5f7f9;
    box-shadow: none;
    border-top: 1px solid #919eab33;
    border-right: none;
  }

  @media screen and (min-width: 768px) {
    .header {
      border-top: none;
      border-right: 1px dashed #919eab33;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 240px;
    height: 100vh;
    padding: 24px;
  }

  .logo {
    display: block;
  }

  .menu {
    margin-top: 24px;
    flex-direction: column;
  }

  .menuButton {
    margin-top: 12px;
    padding: 8px 24px;
    justify-content: flex-start;
  }

  .menuLabelMobile {
    display: none;
  }

  .menuLabelDesktop {
    display: block;
    padding-left: 12px;
  }
}