.statsCard {
  padding: 16px;
  margin-bottom: 16px;
  background: linear-gradient(45deg, #7635dc, #BC63C3, #FA8365);
  color: white;
}

.totalStats {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    font-weight: bold;
  }
}